In [1]:
# Author: Michael Galietti
# Date: 20200129
# CS301-006, Professor Watson
# HW03 Solution
# Learning Jupyter Notebook and how to calculate and present the quartile data via python 
# link to the git repo (ex: https://github.com/MGalietti/301gits)
# link-to-the-relevant-git-commit (ex:https://github.com/MGalietti/301gits/commit/de4553b0fe2efe149798d08480f8387ef2567455)
# name-of-the-branch (ex: master)s

In [2]:
import pandas as pd  #makes panda pd. 

def data_reader(data_path):
    try:
        with open(data_path, 'r') as inF:
            print("File Successfully read")
            data = pd.read_csv(inF)
            return data;
        
    except:
        print("Could not read file")
        return None

In [3]:
my = data_reader('C:\\Users\\Michael\\Desktop\\301gits\\HW4\\2019_nCoV_20200121_20200206.csv')

File Successfully read

In [4]:
def get_percent_nans(df, column_name):
    nans = [n for n in df[column_name].values if pd.isnull(n)]
    percent = (len(nans)/len(df[column_name].values))*100
    return percent

In [5]:
for col in my.columns:
    print('The \"{}\" column has {:.2f}% empty values'.format(col,get_percent_nans(my,col)))

The "Province/State" column has 24.45% empty values
The "Country/Region" column has 0.00% empty values
The "Last Update" column has 0.00% empty values
The "Confirmed" column has 1.60% empty values
The "Suspected" column has 95.31% empty values
The "Recovered" column has 46.67% empty values
The "Death" column has 53.22% empty values

In [6]:
def get_deaths(df,column_name): 
    max_death = df.loc[df['Death'].idxmax()]['Country/Region']  
    print(max_death)

In [7]:
get_deaths(my,'Death')

Mainland China

In [8]:
def get_cases(df,column_name): 
    max_cases = df.loc[df['Suspected'].idxmax()]['Country/Region']  
    print(max_cases)

In [9]:
get_cases(my,'Suspected')

Hong Kong

In [31]:
def get_second_avg(df):
    regions = set(df['Country/Region'])
    newr = []
    for r in regions:
        recoveredCol = df.loc[df['Country/Region'] == r]['Recovered']
        ravg = recoveredCol.mean()
        regionAvg = (r, ravg)
        if not pd.isnull(ravg):
            newr.append(regionAvg)
        return newr

In [32]:
get_second_avg(my)

[('Philippines', 0.0)]

In [12]:
def get_continent(country):
    continents = {
        'Germany':'Europe',
        'Philippines':'Asia',
        'Malaysia':'Asia',
        'Sri Lanka':'Asia',
        'United Arab Emirates':'Asia',
        'United States':'North America',
        'France':'Europe',
        'Ivory Coast':'Africa',
        'Hong Kong':'Asia',
        'Colombia':'South America',
        'Taiwan':'Asia',
        'Belgium':'Europe',
        'Singapore':'Asia',
        'Italy':'Europe',
        'Japan':'Asia',
        'Sweden':'Europe',
        'Macau':'Asia',
        'Vietnam':'Asia',
        'Russia':'Europe',
        'Spain':'Europe',
        'Nepal':'Asia',
        'South Korea':'Asia',
        'Canada':'North America',
        'Mainland China':'Asia',
        'UK':'Europe',
        'India':'Asia',
        'Finland':'Europe',
        'Australia':'Australia',
        'Mexico':'South America',
        'Thailand':'Asia',
        'Brazil':'South America',
        'Cambodia':'Asia'
    }
    return continents[country]

In [13]:
get_continent('Cambodia')

'Asia'

In [14]:
continents = []
for index, row in my.iterrows():
    continents.append(get_continent(row[1]))
my['Continent'] = continents
my

,Province/State,Country/Region,Last Update,Confirmed,Suspected,Recovered,Death,Continent
0,Hubei,Mainland China,2/5/20 16:43,16678.0,NaN,538.0,479.0,Asia
1,Guangdong,Mainland China,2/5/20 13:23,895.0,NaN,49.0,0.0,Asia
2,Zhejiang,Mainland China,2/5/20 15:13,895.0,NaN,78.0,0.0,Asia
3,Henan,Mainland China,2/5/20 15:03,764.0,NaN,47.0,2.0,Asia
4,Hunan,Mainland China,2/5/20 15:23,661.0,NaN,54.0,0.0,Asia
...,...,...,...,...,...,...,...,...
1872,Heilongjiang,Mainland China,1/21/2020,NaN,1.0,NaN,NaN,Asia
1873,NaN,Japan,1/21/2020,1.0,NaN,NaN,NaN,Asia
1874,NaN,Thailand,1/21/2020,2.0,NaN,NaN,NaN,Asia
1875,NaN,South Korea,1/21/2020,1.0,NaN,NaN,NaN,Asia
1876,Washington,United States,1/21/2020,1.0,NaN,NaN,NaN,North America

In [15]:
continents = set(my['Continent'])
for continent in continents:
    confirmedCol = my.loc[my['Continent'] == continent]['Confirmed']
    csum = confirmedCol.sum()
    continentSumTup = (continent, csum)
    print(continentSumTup)

('South America', 0.0)
('Asia', 304958.0)
('North America', 273.0)
('Australia', 238.0)
('Africa', 1.0)
('Europe', 421.0)